[submodule "component-level-0a"]
	path = component-level-0a
	url = https://github.com/naleksijevic/component-level-0a.git
[submodule "component-level-0b"]
	path = component-level-0b
	url = https://github.com/naleksijevic/component-level-1aa.git
[submodule "component-level-0c"]
	path = component-level-0c
	url = https://github.com/naleksijevic/component-level-1aa.git
